policy_module(irqbalance, 1.6.0)

########################################
#
# Declarations
#

type irqbalance_t;
type irqbalance_exec_t;
init_daemon_domain(irqbalance_t, irqbalance_exec_t)

type irqbalance_initrc_exec_t;
init_script_file(irqbalance_initrc_exec_t)

type irqbalance_var_run_t;
files_pid_file(irqbalance_var_run_t)

type irqbalance_script_t;
type irqbalance_script_exec_t;
domain_type(irqbalance_script_t)
domain_entry_file(irqbalance_script_t, irqbalance_script_exec_t)
application_executable_file(irqbalance_script_exec_t)
role system_r types irqbalance_script_t;


########################################
#
# Local policy
#
allow irqbalance_t self:capability { setpcap net_admin };
dontaudit irqbalance_t self:capability sys_tty_config;
allow irqbalance_t self:process { getcap getsched setcap signal_perms };
allow irqbalance_t self:udp_socket create_socket_perms;

manage_files_pattern(irqbalance_t, irqbalance_var_run_t, irqbalance_var_run_t)
files_pid_filetrans(irqbalance_t, irqbalance_var_run_t, file)

kernel_read_network_state(irqbalance_t)
kernel_read_system_state(irqbalance_t)
kernel_read_kernel_sysctls(irqbalance_t)
kernel_rw_irq_sysctls(irqbalance_t)

corecmd_exec_shell(irqbalance_t)
auth_read_passwd(irqbalance_t)

dev_read_sysfs(irqbalance_t)

files_read_etc_runtime_files(irqbalance_t)

fs_getattr_all_fs(irqbalance_t)
fs_search_auto_mountpoints(irqbalance_t)

domain_use_interactive_fds(irqbalance_t)

logging_send_syslog_msg(irqbalance_t)

userdom_dontaudit_use_unpriv_user_fds(irqbalance_t)
userdom_dontaudit_search_user_home_dirs(irqbalance_t)

ifdef(`hide_broken_symptoms',`
	dontaudit irqbalance_t self:capability sys_module;
')

optional_policy(`
	seutil_sigchld_newrole(irqbalance_t)
')

optional_policy(`
	udev_read_db(irqbalance_t)
')

########################################
#
# Irqbalance custom policy script local policy
#
domtrans_pattern(irqbalance_t, irqbalance_script_exec_t, irqbalance_script_t)

allow irqbalance_t irqbalance_script_exec_t:dir search_dir_perms;
allow irqbalance_t irqbalance_script_exec_t:dir read_file_perms;
allow irqbalance_t irqbalance_script_exec_t:file ioctl;
allow irqbalance_t irqbalance_script_t:process signal;

init_domtrans_script(irqbalance_script_t)

optional_policy(`
    mta_send_mail(irqbalance_script_t)
')

optional_policy(`
    unconfined_domain(irqbalance_script_t)
')
